<appSettings>
  <add key="RabbitMQHost" value="localhost" />
  <add key="RabbitMQVirtualHost" value="" />
  <add key="RabbitMQUsername" value="guest" />
  <add key="RabbitMQPassword" value="guest" />
  <add key="HostServiceBusQueueName" value="retrieval_service" />
  <add key="ImageRetrievalServiceQueueName" value="image_retrieval_service" />
  <add key="ImageRetrievalServiceConsumerLimit" value="10" />
  <add key="LocalImageCache" value="..\..\..\Riktig.Web\ImageCache"/>
</appSettings>