@{
    ViewBag.Title = "Image Requests";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This should show the list of image requests that are pending...
            </p>
        </div>
    </section>
}
<h3>Pending Image Requests</h3>
<ol class="round">
    <li class="one">
        This would be one...
    </li>
</ol>
